/*
RESET
*/
*{
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}

/*
GENERAL
*/

body{
   background-color:#ececec;;
   font-family: 'Roboto mono', Helvetica;
}

/*
MAIN
*/
#main{
   text-align: center;
}


/*
HEADER
*/
#header{
   background-color: #385170;
   border-radius: 5px;
}

#header {
   color: #fafafa;
   font-weight: 700;
   padding: 10px;
}

/*
IMG DIV
*/
#image{
   width: 50%;
   margin-top: 20px;
   border-radius: 10px;
}

#img-caption{
   margin-bottom: 20px;
}

/*
CAREER
*/
h2{
   margin-bottom: 10px;
   margin-top: 10px;
}

#tribute-info{
   margin-bottom: 10px;
}

#stats-link{
   margin-top: 10px;
   margin-bottom: 20px;
}

#tribute-link{
   text-decoration: none;
   color: #0c09e2;
}

#tribute-link:hover{
   color: #302387;
}