/*
RESET
*/
*{
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}

/*
GENERAL
*/

body{
   background-color: #fafafa;
   font-family: 'Roboto mono', Helvetica;
}

/*
MAIN
*/
#main{
   text-align: center;
}

/*
HEADER
*/
#header{
   background-color: #385170;
   border-radius: 5px;
}

#header {
   color: #fafafa;
   font-weight: 700;
   margin-bottom: 10px;
   padding: 10px;
}

#image{
   width: 50%;
}

/*
CAREER
*/
